/*
  * RESET
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.5;
  transition: background-color 0.3s ease;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button,
input {
  border: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}
