.home {
  padding-top: 9rem;
  padding-bottom: 2rem;
  text-align: center;
}

.home__container {
  row-gap: 4rem;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title {
  font-family: "Lora", sans-serif;
  font-size: var(--biggest-font-size);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.home__title-box {
  display: inline-block;
  color: var(--white-color);
  background: var(--gradient-color);
  padding: 0.25rem 1rem;
  border-radius: 0.8rem;
  transform: rotate(10deg);
  z-index: -1;
  position: relative;
}

.home__description {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  max-width: 40rem;
}

.home-star {
  width: 5rem;
  vertical-align: middle;
}

.arrow-right {
  margin-left: 8px;
}

.home__statistics {
  font-family: "Lora", sans-serif;
  margin-top: 3rem;
  display: flex;
  column-gap: 4rem;
}

.home__stat-number {
  font-size: var(--big-font-size);
  font-weight: 400;
}

.home__stat-subtitle {
  font-size: var(--small-font-size);
  font-weight: 400;
}

.home__img-main {
  width: 100%;
  max-width: 40rem;
  justify-self: center;
}

.home__br-mobile {
  display: block;
}

.home__br-desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .home__container {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 5rem;
    text-align: left;
  }

  .home__data {
    align-items: flex-start;
    text-align: left;
  }

  .home__description {
    margin-left: 0;
    max-width: 35rem;
  }

  .home-star {
    width: 9rem;
    margin-right: 0;
    margin-left: 1rem;
    position: relative;
    top: -1rem;
  }

  .home__stat-item {
    text-align: center;
  }

  .home__img-main {
    width: 50rem;
    max-width: initial;
    justify-self: end;
  }

  .home__img {
    margin-right: -5rem;
  }

  .home__br-mobile {
    display: none;
  }

  .home__br-desktop {
    display: block;
  }
}
