/* --- Header Basics --- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--space-4) var(--space-5);
}

/* Logo */
.logo {
  display: inline-block;
  font-size: 2.4rem;
  font-family: "Lora", sans-serif;
  background: linear-gradient(to right, #ff52af, #9f53ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navigation Menu */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", serif;
}

/* Navigation Buttons */
.nav__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

/* Theme and Mobil Menu Button */
.change-theme,
.nav-toggle {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* Theme Button */
.change-theme {
  background-color: var(--title-color);
  -webkit-mask: url("../../icons/moon.svg") no-repeat center;
  mask: url("../../icons/moon.svg") no-repeat center;
}

/* Menu Button */
.nav-toggle {
  background-color: var(--title-color);
  -webkit-mask: url("../../icons/menu-open-light.svg") no-repeat center;
  mask: url("../../icons/menu-open-light.svg") no-repeat center;
}

/* Mobil Menu */
.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--body-color);

  transition: right 400ms;
  z-index: 100;
}

.show-menu {
  right: 0;
}

/* Menu Close Button */
.nav__close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 4.4rem;
  top: 4rem;

  background-color: var(--title-color);
  -webkit-mask: url("../../icons/menu-close-dark.svg") no-repeat center;
  mask: url("../../icons/menu-close-dark.svg") no-repeat center;
}

/* Navigation List */
.nav__list {
  padding-top: 7rem;
  padding-left: 5rem;
}

.nav__list-item {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: var(--title-color);
}

.nav__list-item:not(:first-child) {
  padding-top: 2.4rem;
}

.nav__link-active {
  background: linear-gradient(to right, #ff52af, #9f53ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
